.form
    padding: rel-size(15px) 0;
    position: relative;

    &.succes

        &:after
            content: ' ';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 30%;
            height: @width;
            background: url('/assets/media/images/checkMark.svg') center center no-repeat;
            background-size: contain;
            animation: fadeIn 1s forwards;
            opacity: 0;

        .form__content
            transition: opacity 0.1s;
            opacity: 0;

    &__label
        display: block;
        margin-bottom: rel-size(30px);
        position: relative;
        cursor: pointer;

    &__input-name
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-left: rel-size(10px);
        display: flex;
        align-items: center;
        font-size: rel-size(18px);
        transition: font-size 0.3s, padding 0.3s, transform 0.3s, height 0.3s;

    &__input
        display: block;
        width: 100%;
        height: rel-size(40px);
        border: 1px solid #000;
        padding-left: rel-size(10px);
        outline: none;

        &:focus
        &.value

            + .form__input-name
                transform: translate(0, -100%);
                font-size: rel-size(12px);
                height: 50%;
                padding-left: 0;

    &__textarea
        min-height: rel-size(100px);
        resize: vertical;
        width: 100%;
        border: 1px solid #000;
        padding: rel-size(10px);
        margin-bottom: rel-size(30px);

    &__submit
        display: block;
        width: 100%;
        height: rel-size(40px);
        border: 0;
        background: #45b781;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        transition: background 0.3s;
        user-select: none;
        outline: none;

        &:hover
            background: darken(#45b781, 10%);

        &:active
            background: #45b781;

.error

    input
        border: 1px solid #f00;

    .form__input-name
        transform: translate(0, -100%);
        font-size: rel-size(12px);
        height: 50%;
        padding-left: 0;

.done

    input
        border: 1px solid darken(#45b781, 10%);

    .form__input-name
        transform: translate(0, -100%);
        font-size: rel-size(12px);
        height: 50%;
        padding-left: 0;

.warningMsg
    opacity: 0;
    font-size: rel-size(10px);
    color: #f00;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.3s;

@keyframes fadeIn
    0%
        opacity: 0;

    100%
        opacity: 1;
