.header
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s, background 0.5s;

    &.headroom--not-top
        background: rgba(0,0,0,0.5);

        &.headroom--unpinned
            transform: translate(0,-100%);

        &.headroom--pinned
            transform: translate(0,0);

    &__logo-link

        img
            width: rel-size(100px);
            height: auto;
