.homeSection
    height: 100vh;
    background: url('/assets/media/images/firstSection.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title
        text-align: center;
        margin-bottom: rel-size(80px);
        font-size: rel-size(72px);
        color: white;
        font-family: ff-Roboto;
        font-weight: 700;
        letter-spacing: 5px;
