.joinSection

    &__image
        display: flex;
        justify-content: center;
        background: linear-gradient(to top, #f3f3f3 60%, #fff 40%);

        img
            transform: translate(0,6rem);

    &__content
        padding-top: rel-size(170px);
        padding-bottom: rel-size(80px);
        background: linear-gradient(to right, #5e85b3 10%, #79a2d6 50%, #5e85b3 90%);

    &__button-row
        display: flex;
        justify-content: center;
        margin-bottom: rel-size(60px);

    &__content-row
        display: flex;
        justify-content: space-between;

        +below(620px)
            flex-wrap: wrap;

    &__info
        width: rel-size(310px);
        margin: 0 rel-size(10px);

        +below(620px)
            width: 100%;
            margin: 0 0 rel-size(60px);

            &:last-child
                margin: 0;

    &__info-title
        text-align: center;
        font-size: rel-size(18px);
        text-transform: uppercase;
        color: white;
        font-weight: 700;

    &__info-text
        text-align: center;
        font-size: rel-size(17px);
        color: white;
