.serviceSection
    padding-top: rel-size(65px);
    padding-bottom: rel-size(65px);
    background: #45b781;
    display: flex;
    justify-content: space-around;

    +below(980px)
        flex-wrap: wrap;
        padding-top: rel-size(35px);
        padding-bottom: rel-size(35px);

    &__link
        position: relative;
        padding: rel-size(25px);
        border-radius: 15%;
        width: 23%;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        +below(1240px)
            padding: rel-size(25px) rel-size(10px);
            width: 25%;

        +below(980px)
            width: 40%;

        +below(460px)
            width: 90%;
            margin-bottom: rel-size(30px);

            &:last-child
                margin-bottom: 0;

        &:hover

            &:before
            &:after
                opacity: 1;

        &:before
            content: ' ';
            width: 100%;
            height: 50%;
            border: 2px dashed #fff;
            border-bottom: none;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50px 50px 0 0;
            opacity: 0;
            transition: opacity 0.3s;

        &:after
            content: ' ';
            width: 100%;
            height: 50%;
            border: 2px dashed #fff;
            border-top: none;
            position: absolute;
            bottom: 0;
            left: 0;
            border-radius: 0 0 50px 50px;
            opacity: 0;
            transition: opacity 0.3s;

    &__link-image
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: rel-size(30px);
        height: rel-size(130px);

    &__link-title
        font-size: rel-size(15px);
        color: white;
        text-align: center;

        +below(1240px)
            font-size: rel-size(13px);
