.wwdSection
    position: relative;
    overflow: hidden;

    &__title
        position: absolute;
        top: rel-size(100px);
        left: 4%;
        z-index: 20;
        color: #969696;
        font-size: rel-size(37px);
        line-height: rel-size(37px);
        font-weight: 300;

    &__slide
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        padding: rel-size(220px) 0 rel-size(220px) 4%;
        overflow: hidden;

        &.swiper-slide-active

            .wwdSection__slide-title
                opacity: 0;
                animation: returnLeft 2s 1.5s forwards;

            .wwdSection__slide-text
                opacity: 0;
                animation: returnLeft 2s 1.8s forwards;

            .wwdSection__slide-image
                opacity: 0;
                animation: returnRight 2s 1.5s forwards;

    &__slide-content
        max-width: rel-size(400px);

    &__slide-title
        font-size: rel-size(18px);
        margin-bottom: rel-size(25px);
        animation: slideLeft 2s forwards;

    &__slide-text
        font-size: rel-size(16px);
        margin-bottom: rel-size(15px);
        color: #595959;
        max-width: rel-size(400px);
        animation: slideLeft 2s 0.3s forwards;

    &__slide-image
        align-self: flex-end;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        animation: slideRight 2s 0.5s forwards;

        +below(920px)
            max-width: 70%;

@keyframes slideLeft
    0%
        opacity: 1;
        transform: translate(0%,0%);

    100%
        opacity: 0;
        transform: translate(-100%,0%);

@keyframes slideRight
    0%
        opacity: 1;
        transform: translate(0%,0%);

    100%
        opacity: 0;
        transform: translate(100%,0%);

@keyframes returnLeft
    0%
        opacity: 0;
        transform: translate(-100%,0%);

    100%
        opacity: 1;
        transform: translate(0%,0%);

@keyframes returnRight
    0%
        opacity: 0;
        transform: translate(100%,0%);

    100%
        opacity: 1;
        transform: translate(0%,0%);
